<section id="main-page">
  <h1>Welcome to CSE Motors</h1>
  <div class="hero">
    <picture>
      <source media="(max-width: )" srcset="" />
      <source media="(max-width: )" srcset="" />
      <img src="" alt="" width="" height="" />
    </picture>
  </div>
</section>
