<section id="main-page">
  <h1>Welcome to CSE Motors!</h1>
  <div class="hero">
    <picture>
      <source
        media="(max-width:1000px )"
        srcset="/images/vehicles/delorean.jpg"
      />
      <source
        media="(max-width:500px )"
        srcset="/images/vehicles/delorean-tn.jpg"
      />
      <img
        src="/images/vehicles/delorean.jpg"
        alt="delorean vehicle"
        width="200"
        height="102"
      />
    </picture>
    <div class="hero-features">
      <h4>DMC Delorean</h4>
      <p>Superman doors</p>
      <p>Fuzzy dice!</p>
      <button>Own Today</button>
    </div>
  </div>
</section>
