/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Making the html responsive  */
html {
  font-size: 62.5%;
}

/* Header styles */
#top-header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.siteName a {
  color: rgba(46, 46, 46, 0.9);
  font-size: 2.5rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-decoration: none;
}
#tools a {
  color: rgba(46, 46, 46, 0.9);
  text-decoration: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}
#tools a:hover {
  color: rgb(45, 147, 180);
}
/* Navigation styles */
nav {
  background-color: rgb(46, 46, 46);
  padding: 1rem 0;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

nav ul li {
  color: #fff;
  list-style: none;
  font-size: 1.35rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
/* Body styles */
#main-page h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 2.45rem;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-features {
  font-family: "Lato", sans-serif;
  position: absolute;
  transform: translate(10%, -150%);
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 0.75rem;
}
.hero-features button {
  background-color: rgb(45, 197, 247);
  border: none;
  font-weight: 900;
  padding: 1rem 1.2rem;
}
/* color: rgb(45, 197, 247); */
.hero-features h3 {
  color: rgba(4, 190, 228, 0.9);
  font-size: 1.75rem;
  font-weight: 900;
  margin: 0;
}
.hero-features p {
  color: rgba(4, 190, 228, 0.9);
  font-size: 1.2rem;
  font-weight: 700;
}
.reviews {
  display: grid;
}
.reviews h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
}
.reviews ul {
  padding: 0 0 0 5px;
  margin: 0 0 0 5px;
}
.reviews ul li {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 2.35rem;
  font-weight: 700;
  color: rgb(17, 31, 36);
}

.upgrades {
  width: 100%;
}

.upgrades h3 {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.upgrades-flex__one,
.upgrades-flex__two {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.upgrades-flex__one div,
.upgrades-flex__two div {
  background-color: rgba(4, 190, 228, 0.9);
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: clamp(20rem, 100%, 150px);
  height: 10rem;
  margin: 1rem 0;
  position: relative;
}

.upgrades-flex__one img,
.upgrades-flex__two img {
  width: 100%;
  height: auto;
  padding: 1rem;
  object-fit: contain;
}

.upgrades-flex__one p,
.upgrades-flex__two p {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  bottom: -2rem;
  text-decoration: underline;
  color: blue;
}

/* Footer styles */
footer {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
@media only screen and (min-width: 40rem) {
  body {
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    background-image: url("../images/site/small_check.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wrapper {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid rgba(4, 190, 228, 0.9);
    max-width: 70%;
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  #top-header {
    margin: 0 0.5rem;
  }
  nav {
    margin: 0 1rem;
  }
  #main-page h1 {
    font-size: 3rem;
    margin: 1.5rem 1rem;
  }
  .hero-features {
    transform: translate(10%, -150%);
    padding: calc(2rem - 15px);

    left: auto;
    min-width: 20%;
    height: auto;
  }
  .hero-features h3 {
    padding: 2rem 2rem 2rem 0;
  }
  .reviews {
    display: flex;
    padding: calc(2rem - 10px);
  }
  .reviews ul {
    padding: 0 0 0 1.3rem;
    margin: 0 0 0 1.3rem;
  }
  .reviews h3 {
    font-size: 2rem;
    margin-left: 1rem;
  }
  .reviews ul li {
    font-size: clamp(1.2rem, 1.5vw, 7%);
    line-height: clamp(4.35rem, 3vw, 1.8rem);
    font-weight: 900;
  }
  .upgrades {
    width: 50%;
    order: -1;
  }
  .upgrades h3 {
    font-size: 2rem;
    text-align: center;
  }
  footer {
    font-size: 1.5rem;
  }
}
